<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jm"
    android:versionCode="7"
    android:versionName="1.5.0" >

    <application
        android:icon="@drawable/jm"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.jm.Menu1"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.jm.Menu2" >
        </activity>
        <activity android:name="com.jm.JuggleView" >
        </activity>
        <activity android:name="com.jm.Edit" >
        </activity>
        <activity android:name="com.jm.GenPattern" >
        </activity>
        <activity android:name="com.jm.Help" >
        </activity>
        <activity
            android:name="com.jm.PatternManager" >
        </activity>
    </application>

    <uses-sdk />

</manifest>